html {
    font-family: Arial, sans-serif;
    font-size: larger;
}

input, select {
    min-height: 50px;
    max-height: 100px;
    min-width: 150px;
    max-width: 250px;

    border-radius: 5px;
    border-color: #002c50ff;
    background-color: #cce2f4ff;
    border-style: solid;
    border-width: thin;

    font-size: large;
}

#sortForm input {
    min-height: 15px;
    max-height: 15px;
    min-width: 15px;
    max-width: 15px;
}

.parking-list {
    display: flex;
    flex-flow: column wrap;
    flex-basis: auto;
    align-content: center;

    padding: 5px;
}

.parking-list a {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2px;
}

.wide{
    font-weight: bold;
}

.parking-list span {
    flex-basis: 25%
}

.free {
    background-color: #97cf66ff;
    border-color: #214600ff;
}

.booked {
    background-color: #f4aa66ff;
    border-color: #5e2d00ff;
}

.unknown {
    background-color: #e36666ff;
    border-color: #270000ff;
}